.card__item {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #ccc;
}

.active {
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  transform: scale(1.06);
}

.card__item-header {
  font-size: 1.2em;
  font-weight: bold;
  background-color: #1f8673;
}

.card__item-price {
  font-size: 1.5em;
  background-color: #24ae8d;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.card__price-currency {
  display: flex;
  align-items: flex-start;
}

.card__price {
  font-weight: bold;
  font-size: 1.7em;
  margin: 10px;
}

.card__price-period {
  display: flex;
  align-self: flex-end;
}

.card__item-speed {
  color: #333;
  background-color: #f8f8f8;
  padding: 20px;
}

.card__item-footer {
  font-size: 0.9em;
  background-color: #eeeeee;
  color: #333;
  padding: 20px;
}